{% extends 'base.html.twig' %}

{% block title %}Events{% endblock %}

{% block body %}
<main class="mt-5">
    <div class="container mt-4 p-3">
        <h1 class="display-4 mb-4">Event</h1>

        <div class="card">
            {% if event.getEventImage() %}
                <img class="card-img-top" src="{{ asset('upload/img_event/' ~ event.getEventImage()) }}" alt="{{ event.getEventName() }}" />
            {% endif %}
            <div class="card-body">
                <h2 class="card-title">{{ event.getEventName() }}</h2>
                <p class="card-text">{{ event.getDescription() }}</p>
            </div>
        </div>

    </div>
</main>
{% endblock %}
