{% extends 'base.html.twig' %}


{% block body %}

<main class="mt-5">
    <h2 class="text-center text-xl font-semibold text-primary mb-4">Prochains events</h2>
    <div class="row">
        {% for evenement in evenements %}
            {% include 'evenements/eventTemplate.html.twig' with { evenement : evenement } only %}
        {% else %}
            <p>Aucune Events trouvé</p>
        {% endfor %}
    </div>
</main>


{% endblock %}
