{% extends 'base.html.twig' %}

{% block body %}
<main class="container mt-5 mb-5">
    <h1 class="text-center mb-5">Nous contacter</h1>

    <div class="my-5">
        <h2 class="text-center mb-4">Vous souhaitez avoir des informations?</h2>
        <p class="text-center mb-4">
            Prenez contact avec nous, laissez-nous tous vos coordonnées, et nous vous contacterons rapidement.
        </p>
    </div>
</main>

{{ form(form) }}
{% endblock %}
